anyio==3.6.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
idna==3.3
jarowinkler==1.0.2
Levenshtein==0.18.1
pyperclip==1.8.2
rapidfuzz==2.0.11
requests==2.27.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
spotipy==2.19.0
urllib3==1.26.9
youtube-search-python==1.6.5
